<h1 class="new-user">Welcome to the Circus of Value!</h1>

<%= form_with model: @user, local: true, html: { multipart: true }, class: 'new-form' do |f| %>
	<%= f.label :first_name, class: 'first-name' %>
	<%= f.text_field :first_name %>
	<%= f.label :last_name, class: 'first-name' %>
	<%= f.text_field :last_name %>
	<%= f.label :email, "Email", class: 'first-name' %>
	<%= f.text_field :email %>
	<%= f.label :password, "Password", class: 'first-name' %>
	<%= f.password_field :password %>
	<%= f.file_field :avatar %>
	<%= f.submit %>
<% end %>

