<div class="container">
    <div class="row m-y-2">
        <div class="col-lg-8 push-lg-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content p-b-3">
                <div class="tab-pane active" id="profile">
                    <h4 class="m-y-2">User Profile</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>About</h6>
                            <p>
                                User of this website.
                                <p>Has first name <%= @user.first_name %>. </p>
                            </p>
                            <h6>Hobbies</h6>
                            <p>
                                Likes whatever it is they like, why do you care? Creep.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>User Info</h6>
                            <p>Name: <%= @user.full_name %></p>
                            <p>Email: <%= @user.email %></p>
                            <p>Number of posts: <%= @user.posts.count %></p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Recent Posts</h4>
                            <table class="table table-hover table-striped">
                                <tbody> 
                                  <% @posts.each do |post| %>                                 
                                    <tr>
                                      <td>
                                          <h5><%= post.title %></h5> <%= post.content %> <p class="posts-user">by: <%= User.find(post.user_id).full_name %>
                                          <%= link_to "Comment", post, id: "comment" %></p>
                                      </td>
                                    </tr>
                                  <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                    <h4 class="m-y-2">Recent Messages &amp; Notifications</h4>
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> You have not posted in <strong>2 hours</strong>! Plese post more. We feed on it.
                    </div>
                    <table class="table table-hover table-striped">
                        <tbody>                                    
                            <tr>
                                <td>
                                   <span class="pull-xs-right font-weight-bold">3 hrs ago</span> Jacoby says 'Henlo you stinky.'
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="pull-xs-right font-weight-bold">Yesterday</span> Ryan wants to hang out!
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
                    <div class="tab-pane" id="edit">
                    <h4 class="m-y-2">Edit Profile</h4>
                    <%= form_with model: @user, local: true do |f| %>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <%= f.text_field :first_name, class: 'form-control' %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <%= f.text_field :last_name, class: 'form-control' %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <%= f.text_field :email, class: 'form-control' %>
                            </div>
                        </div>
                        <div class="form-group row">
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <%= f.password_field :password, class: 'form-control' %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <%= f.submit %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pull-lg-8 text-xs-center">
        	<form action="/users">
                <img id='profile-img' src="http://appamatix.com/wp-content/uploads/2016/05/04-450x427.jpg" class="m-x-auto img-fluid img-circle" alt="avatar" style="width: 250px; height: 250px;">
                <h6 class="m-t-2">Upload a different photo (url)</h6>
                <input type="text" id="file">
                <input type="submit" value="Submit">
        	</form>
        </div>
    </div>
</div>
<hr>